@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #121116;
}

html body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  text-align: center;
  width: 250px;
}

.logo-img {
  margin-bottom: 31px;
}

h3 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 12px;
}

.line {
  height: 2px;
  width: 231px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

ul {
  margin-bottom: 74px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 25px;
}

li:last-child {
  margin-right: 0px;
}

p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin: 0px;
}

span {
  color: #19c8fa;
}
