@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Playfair+Display&display=swap");

// font-size
$title-size: 42px;
$first-letter-size: 110px;
$main-text-size: 18px;
$quote-size: 60px;
$secondery-text-size: 24px;
// colors
$bg-color: #ffffff;
$text-color: #171717;
$btn-color: #eaa258;
//fonts
$title-font: "Playfair Display", serif;
$text-font: "Lato", sans-serif;
