@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
// font-size
$title-size: 34px;
$main-size: 16px;
$name-size: 18px;
$position-size: 14px;
//colors
$bg-color: #f6f6f6;
$main-color: #3c3c3c;
$name-color: #282528;
$position-color: #646464;
$hover-color: #00aed9;
$icon-color: #ffffff;
$horizon-color: #dddbdb;
$img-bg-color: #dadada;
$icon-bg-color: #5ecbe7;
//fonts
$text-font: "Lato", sans-serif;
