$style: "product-card";
.#{$style} {
  //   @include flex();
  &__logo-wrapper {
    max-width: 65px;
    max-height: 33px;
    @include padding-hack(6%, contain);
    margin-bottom: 21px;
  }
  &__content {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  &__col {
    @include flex(flex-start, stretch, column);
    &:first-child {
      padding: 48px 80px 10px 15px;
    }
    &:last-child {
      flex-basis: 185px;
      max-width: 185px;
    }
  }
  &__title {
    @include text($title-size, 400, inherit);
    margin-bottom: 16px;
  }
  &__description {
    @include text($main-size, 400, inherit);
    opacity: 0.5411764705882353;
    margin-bottom: 24px;
  }
  &__rating-list {
    @include flex(flex-start, center);
    opacity: 0.5882352941176471;
    margin-bottom: 26px;
  }
  &__rating-list-item {
    &--rated {
      svg {
        fill: $rating-color;
      }
    }
  }
}
