$style: "product-card";
.#{$style} {
  &__logo-wrapper {
    max-width: 65px;
    max-height: 33px;
    @include padding-hack(6%, contain);
    margin-bottom: 13px;
  }
  &__content {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
  &__col {
    @include flex(flex-start, stretch, column);
    &:first-child {
      padding: 53px 80px 4px 15px;
    }
    &:last-child {
      flex-basis: 185px;
      max-width: 185px;
    }
  }
  &__title {
    @include text($title-size, 400, $text-color);
    margin-bottom: 6px;
  }
  &__description {
    @include text($main-size, 400, inherit);
    opacity: 0.5411764705882353;
    margin-bottom: 19px;
  }
  &__rating-list {
    @include flex(flex-start, center);
    opacity: 0.5882352941176471;
    margin-bottom: 24px;
  }
  &__rating-list-item {
    margin-right: 1px;
    svg {
      fill: $text-color;
    }
    &--rated {
      svg {
        fill: $rating-color;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__filters {
    margin-bottom: 28px;
    @include flex();
  }
  &__button {
    background-color: $card-color;
    border: 1px solid rgba($text-color, 0.3);
    color: rgba($text-color, 0.3);
    width: 185px;
    height: 41px;
    cursor: pointer;
    @include flex(center, center);
    &:focus {
      outline: none;
    }
    @include transition(background-color);
    &:hover {
      background-color: lighten($card-color, 10%);
    }
  }
  &__select {
    width: 70px;
    height: 33px;
    padding-left: 10px;
    margin-right: 1px;
    &:last-child {
      margin-right: 0;
    }
    overflow: visible;
  }
  &__img {
    margin-bottom: 74px;
  }
  &__radio {
    @include flex(center, center);
    label {
      margin-right: 9px;
      display: block;
      width: 10px;
      height: 10px;
      position: relative;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      input {
        display: none;
      }
    }
  }
  &__radio-item {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include transition(border, padding);
    &--dark-blue {
      background-color: $dark-blue;
    }
    &--white {
      background-color: $white;
    }
    &--red {
      background-color: $red;
    }
    &--blue {
      background-color: $blue;
    }
  }
  input[type="radio"]:checked + span,
  input[type="radio"]:hover + span {
    border: 2px solid rgba($text-color, 0.3);
    padding: 6px;
  }
}
