.card-item {
  height: 540px;
  width: 360px;
  background-color: $card-bg-color;
  margin-right: 20px;
  margin-bottom: 20px;
  &:nth-child(3n + 2) {
    margin-right: 0px;
  }
  &__link {
    display: block;
    height: 100%;
    width: 100%;
    padding-bottom: 25px;
  }
  &__img {
    width: 100%;
    margin-bottom: 22px;
  }
  &__date {
    height: 29px;
    color: $date-color;
    font-size: $date-size;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.31;
    letter-spacing: 0.33px;
    margin: 0 28px 7px 28px;
  }
  &__title {
    color: $main-title-color;
    font-size: $main-title-size;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.41;
    letter-spacing: 1.2px;
    max-width: 307px;
    margin: 0 27px 64px;
  }
  &__autor {
    height: 54px;
    width: 54px;
    margin-left: 28px;
  }
}
.card-item-1 {
  width: 740px;
  height: 540px;
  position: relative;

  &__link {
    background: linear-gradient(
      170deg,
      rgba(250, 250, 250, 1) 17%,
      rgba(13, 13, 13, 1) 60%,
      rgba(0, 0, 0, 1) 100%
    );
    padding: 0;
  }
  &__date {
    position: absolute;
    color: $card-bg-color;
    opacity: 0.5;
    top: 396px;
    left: 14px;
  }
  &__title {
    position: absolute;
    left: 14px;
    bottom: -25px;
    color: $card-bg-color;
    max-width: 440px;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.8px;
  }
  &__autor {
    display: none;
  }
}
