.card-item {
  height: 540px;
  width: 360px;
  background-color: $card-bg-color;
  margin-right: 20px;
  margin-bottom: 20px;
  &:nth-child(3n + 2) {
    margin-right: 0px;
  }
  &__link {
    display: block;
    height: 100%;
    width: 100%;
  }
  &__img-wrapper {
    width: 100%;
    height: 251px;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__text {
    width: 100%;
    height: 289px;
    padding: 20px 19px 25px 28px;
    display: flex;
    flex-direction: column;
  }
  &__date {
    height: 29px;
    color: $date-color;
    font-size: $date-size;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2.31;
    letter-spacing: 0.33px;
    padding-left: 1px;
    margin: 0 0 7px;
  }
  &__title {
    color: $main-title-color;
    font-size: $main-title-size;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.45;
    letter-spacing: 1.5px;
    flex-grow: 1;
  }
  &__autor {
    height: 54px;
    width: 54px;
    margin-left: 3px;
  }
}
.card-item-1 {
  width: 740px;
  height: 540px;
  position: relative;

  &__link {
    background: linear-gradient(
      170deg,
      rgba(250, 250, 250, 1) 17%,
      rgba(13, 13, 13, 1) 60%,
      rgba(0, 0, 0, 1) 100%
    );
    padding: 0;
  }
  &__img-wrapper {
    width: 100%;
    height: 100%;
  }
  &__text {
    position: absolute;
    height: auto;
    padding: 0 0 40px 43px;
    top: 397px;
    left: 0;
  }
  &__date {
    color: $card-bg-color;
    opacity: 0.5;
    margin-bottom: 8px;
  }
  &__title {
    color: $card-bg-color;
    font-size: $first-title-size;
    line-height: 1.2;
    letter-spacing: 0.8px;
    margin: 0;
  }
  &__autor {
    display: none;
  }
}
