$bg-color: #e2e7ec;
$card-bg-color: #ffffff;
$date-color: #818181;
$main-title-color: #1d1d1d;
$loading-color: #99a5b0;

$date-size: 13px;
$first-title-size: 30px;
$main-title-size: 21px;

$font: "HansKendrick", sans-serif;
