$style: "about-us";
.#{$style} {
  min-height: 630px;
  color: $secondary-color;
  &__wrapper {
    min-height: 312px;
    padding: 29px 0;
    border-color: $secondary-color;
    &::before,
    &::after {
      background-color: $secondary-color;
    }
  }
  &__title {
    @include text($section-title-size, 700, $secondary-color);
    text-transform: uppercase;
    letter-spacing: 5.44px;
  }
  &__inner {
    max-width: 553px;
    width: 100%;
    margin: 48px 0 0;
  }
  &__text {
    @include text($main-text-size, 300, $secondary-color);
    text-align: center;
    line-height: 1.5;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}
