$style: "copyright";
.#{$style} {
  @include flex(center, center);
  padding-bottom: 42px;
  @media screen and (min-width: 576px) {
    padding-bottom: 63px;
  }
  &__link {
    display: inline-block;
  }
  &__icon {
    width: 35px;
    height: 35px;
    fill: $secondary-color;
    stroke: $secondary-color;
    margin-right: 24px;
    @media screen and (min-width: 576px) {
      margin-right: 36px;
    }
  }
  &__text {
    @include text($secondary-text-size, 300, $secondary-color);
  }
}
