$style: "gallery";
.#{$style} {
  &__list {
    @include flex(flex-start, stretch, column);
    @media screen and(min-width: 768px) {
      @include flex(flex-start, stretch, row, wrap);
    }
  }
  &__item {
    width: 100%;
    height: 237px;
    margin: 0 0 10px 0;
    background: no-repeat center;
    background-size: cover;
    &:nth-child(1) {
      background-image: url(../img/Topworkz.jpg);
    }
    &:nth-child(2) {
      background-image: url(../img/joint.jpg);
    }
    &:nth-child(3) {
      background-image: url(../img/market.jpg);
    }
    &:nth-child(4) {
      background-image: url(../img/worktop.jpg);
    }
    &:nth-child(5) {
      background-image: url(../img/lable.jpg);
    }
    &:nth-child(6) {
      background-image: url(../img/kyiv.jpg);
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      max-width: calc(100% / 2 - 5px);
      margin: 0 10px 10px 0;
      &:nth-child(2n + 2) {
        margin-right: 0;
      }
      &:nth-child(n + 5) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 992px) {
      width: 28.6%;
      margin: 0 10px 10px 0;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
      &:nth-child(n + 4) {
        margin-bottom: 0;
      }
      &:nth-child(3n + 2) {
        flex-grow: 1;
      }
    }
  }
  &__title-wrapper {
    height: 100%;
    position: relative;
  }
  &__title {
    position: absolute;
    @include position(161px, 0, 0, 43px);
    @include text($section-title-size-mobile, 700, $main-color);
    letter-spacing: 3.63px;
    text-transform: uppercase;
    @media screen and(min-width: 576px) {
      @include text($section-title-size, 700, $main-color);
      letter-spacing: 5.44px;
    }
  }
  @keyframes move-gallery {
    from {
      left: 43px;
    }
    to {
      left: 60px;
    }
  }
  &__item:hover &__title {
    @media screen and(min-width: 992px) {
      animation: move-gallery 1s alternate infinite;
    }
  }
}
