$style: "header";
.#{$style} {
  min-height: 100vh;
  padding: 5px;
  background: url(../img/hero-bg.jpg) center no-repeat;
  background-size: cover;
  @include flex(center, center);
  position: relative;
  @media screen and (min-width: 576px) {
    padding: 0;
  }
  &__wrapper {
    max-width: 591px;
    text-align: center;
  }
  &__link {
    display: inline-block;
    margin-bottom: 76px;
  }
  &__icon {
    @include size(69px);
    fill: $main-color;
    stroke: $main-color;
  }
  &__title {
    @include text($title-size-mobile, 700, $main-color);
    text-transform: uppercase;
    letter-spacing: 8.64px;
    margin-bottom: 32px;
    @media screen and (min-width: 576px) {
      @include text($title-size, 700, $main-color);
    }
  }
  &__text {
    @include text($header-text-size, 400, $main-color);
    line-height: 1.93;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }
  &__scroll {
    fill: $main-color;
    width: 23px;
    height: 37px;
    position: absolute;
    left: 50%;
    bottom: 14vh;
    transform: translateX(-50%);
    @keyframes move-scroll {
      from {
        bottom: 14vh;
      }
      to {
        bottom: 13vh;
      }
    }
    @media screen and (min-width: 992px) {
      animation: move-scroll 2s infinite;
      &:hover {
        animation: none;
      }
    }
  }
}
