$style: "section-block";
.#{$style} {
  min-height: 630px;
  @include flex(center, center);
  //   padding: 160px 26.5%;
  &__wrapper {
    max-width: 900px;
    padding-right: 16.7%;
    padding-left: 16.7%;
    border: solid 2px inherit;
    border-top: none;
    position: relative;
  }
  &__title-wrapper {
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30%;
      height: 2px;
      top: 0;
      background-color: inherit;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
