$style: "section-block";
.#{$style} {
  @include flex(center, center);
  &__wrapper {
    max-width: 900px;
    width: 100%;
    border: 2px solid transparent;
    border-top: none;
    position: relative;
    @include flex(center, center);
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 27%;
      height: 2px;
      top: 0;
      background-color: inherit;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  &__title-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
