//Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$main-font: "Lato", sans-serif;

//Colors
$main-color: #ffffff;
$secondary-color: #3c3c3c;

//Font-sizes
$title-size: 54px;
$section-title-color: 34px;
$contact-size: 30.5px;
$main-text-size: 16px;
$header-text-size: 15px;
$secondary-text-size-color: 14px;
