* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  background-color: #990909;
}

header {
  text-align: center;
  min-width: 100%;
}

.header_menu {
  background-color: #000000;
  text-align: justify;
}

.header_menu_item {
  display: inline-block;
  padding: 0px;
  width: 24%;
}

.header_menu_item a {
  text-decoration: none;
  color: white;
}

figure img {
  max-width: 200px;
}

.aside_left {
  display: inline-block;
  width: 20%;
  background-color: #7d0606;
  vertical-align: top;
  min-height: 280px;
}

.aside_left_list {
  margin-top: 0px;
}

.aside_left_list_item {
  margin-bottom: 1em;
}

.aside_left_list_item_link {
  color: #bf3911;
}

.article {
  display: inline-block;
  width: 60%;
  color: white;
  vertical-align: top;
}
.aside_right {
  display: inline-block;
  width: 19%;
  vertical-align: top;
  background-color: #e3dddd;
}

h3 {
  margin-top: 0px;
  text-align: center;
  background-color: #bdbdbd;
}

hr {
  width: 50%;
}

footer {
  text-align: center;
  color: white;
  background-color: #e95b11;
  font-size: 20px;
}
