//Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap");
$subtitle-font: "Raleway", sans-serif;
$title-font: "Roboto", sans-serif;
$btn-font: "Open Sans", sans-serif;
//Colors
$title-color: #ffcc00;
$subtitle-color: #898f8f;
$person-color: #666666;
$text-color: #333333;
$social-color: #cccccc;
//Font-sizes
$title-size: 60px;
$name-size: 36px;
$position-color: 24px;
$subtitle-size: 18px;
$yexy-size: 14px;
