@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@font-face {
  font-family: "Miso";
  src: url("../assets/fonts/miso-regular.ttf") format("truetype");
}

$cost-color: #02995b;
$text-color: #333333;
$card-color: #fff;
$bg-color: #fdde7e;

$cost-fontsize: 70px;
$text-fontsize: 56px;

$cost-font: "Miso", sans-serif;
$text-font: "Lato", sans-serif;
