$style: "footer";
.#{$style} {
  min-height: 268px;
  background-color: $card-bg;
  @include flex(center, center);
  padding-top: 73px;
  &__wrapper {
    @include flex(flex-start, center, column);
  }
  &__link {
    font-family: $josefin;
    @include text($H240, 700, $white);
    line-height: 1.08;
    letter-spacing: 2.4px;
    margin-bottom: 7px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-family: $josefin;
    @include text($H60, 300, $white);
    line-height: 1.63;
    letter-spacing: 0.6px;
    margin-bottom: 21px;
  }
  &__social-list {
    @include flex(center, center);
  }
  &__social-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  &__social-link {
    color: $white;
    transition: color 0.3s ease;
    @media screen and(min-width: 576px) {
      &:hover {
        color: $main-color;
      }
    }
  }
}
