$style: "navigation";
.#{$style} {
  color: $white;
  @include flex(center, center);
  &__container {
    @include flex(space-between, center);
  }
  &__logo {
    @media screen and(max-width: 575px) {
      display: none;
    }
    @media screen and(min-width: 576px) {
      font-family: $josefin;
      @include text($H240, 700, $white);
      text-transform: uppercase;
      line-height: 1.08;
      letter-spacing: 1.5px;
    }
  }
  &__list {
    max-width: 525px;
    width: 100%;
    @include flex(space-between);
  }
  &__item {
    text-align: center;
    @media screen and(min-width: 576px) {
      @include transition(transform);
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    font-family: $josefin;
    @include text($H20, 400, $white);
    text-transform: uppercase;
    @media screen and(min-width: 576px) {
      size: $H40;
    }
  }
}
