$style: "navigation";
.#{$style} {
  color: $white;
  @include flex(center, center);
  &__container {
    @include flex(space-between, center);
  }
  &__logo {
    font-family: $josefin;
    @include text($H240, 700, $white);
    text-transform: uppercase;
    line-height: 1.08;
    letter-spacing: 1.5px;
  }
  &__list {
    max-width: 525px;
    width: 100%;
    @include flex(space-between);
  }
  &__item {
    @include transition(transform);
    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    font-family: $josefin;
    @include text($H40, 400, $white);
    text-transform: uppercase;
  }
}
