$style: "why-choose-us";
.#{$style} {
  min-height: 685px;
  background: url(../img/why-choose-us-bg-image.jpg) center no-repeat;
  background-size: cover;
  @include flex(center, center);
  &__container {
    @include flex(space-between, center);
  }
  &__col1 {
    flex-basis: 50%;
    padding-right: 10px;
  }
  &__title {
    font-family: $aleo;
    @include text($H360, 400, $white);
    line-height: 0.72;
    margin-bottom: 62px;
  }
  &__inner {
    @include flex(flex-start, stretch, column);
    margin-bottom: 42px;
  }
  &__text {
    font-family: $josefin;
    @include text($H60, 400, $white);
    line-height: 1.63;
    letter-spacing: 1.6px;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__col2 {
    flex-basis: 50%;
    height: 445px;
    position: relative;
    padding-left: 10px;
  }
  &__img1 {
    position: absolute;
    width: 100%;
    max-height: 220px;
    @include padding-hack(41.5%, contain);
    margin-bottom: 5px;
    img {
      object-position: left;
    }
  }
  &__img2 {
    width: 100%;
    max-height: 220px;
    @include padding-hack(41.5%, contain);
    img {
      object-position: right;
    }
  }
}
