$style: "form-section";
.#{$style} {
  max-width: 400px;
  width: 100%;
  @include flex(center, center, column);
  background-image: linear-gradient(
    45deg,
    rgba(45, 33, 169, 0.99) 0%,
    rgba(200, 115, 217, 0.69) 100%
  );
  position: absolute;
  box-shadow: 0 20px 17px 0 $shadow-color;
  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(../img/Bridge.jpg);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.2;
    background-position: -57px;
    background-size: cover;
    z-index: 0;
  }
  &__wrapper {
    width: 100%;
    height: 500px;
    padding: 52px 70px 55px;
    position: relative;
  }
  &__list {
    margin-bottom: 50px;
  }
  &__item {
    display: inline-block;
    font-size: $header-size;
    &:not(:last-child) {
      margin-right: 26px;
    }
  }
  &__header-link {
    color: $inactive-color;
    font-weight: 700;
    @include transition();
    position: relative;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $main-color;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        display: block;
        height: 2px;
        width: 100%;
        background-color: $hover-color;
      }
    }
  }
  &__tab {
    &:not(:target) {
      display: none;
    }
  }
  &__input {
    @include flex(flex-start, stretch, column);
    margin-bottom: 18px;
    font-weight: 700;
    & label {
      margin-bottom: 11px;
    }
  }
  &__input-text {
    background-color: transparent;
    width: 100%;
    height: 42px;
    border: solid 2px $input-color;
    padding: 0 10px;
    color: $main-color;
    font-size: $main-font;
    outline: none;
    @include transition();
    &:focus,
    &:hover {
      border-color: $btn-color;
    }
  }
  &__check {
    margin-bottom: 44px;
  }
  &__check input {
    display: none;
  }
  &__checkbox {
    display: block;
    height: 100%;
    cursor: pointer;
  }
  &__checkbox-text {
    @include flex(start, center);
    font-size: $text-size;
    font-weight: 700;
    @include transition();
    &::before {
      content: " ";
      font-size: $text-size;
      width: 16px;
      height: 16px;
      background-color: $btn-color;
      @include position();
      display: inline-block;
      margin-right: 7px;
    }
  }
  input:checked + span:before {
    content: "\2714";
    font-size: $text-size;
    width: 16px;
    height: 16px;
    background-color: $btn-color;
    @include flex(center, center);
    margin-right: 7px;
  }
  &__btn {
    background-color: $btn-color;
    width: 100%;
    height: 42px;
    border: 2px solid $btn-color;
    color: $main-color;
    font-size: $header-size;
    font-weight: 700;
    @include transition();
    &:hover {
      background-color: $hover-color;
    }
    &:focus {
      border-color: $hover-color;
    }
  }
  &__footer {
    margin-top: 33px;
    color: $footer-link-color;
    font-size: $text-size;
    @include flex(space-between);
  }
  &__footer-link {
    &:hover {
      text-decoration: none;
      @include transition();
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: $footer-link-underline-color;
        opacity: 0.15;
      }
    }
  }
}
