// Fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

$main-font: "Quicksand", sans-serif;

//Font-sizes
$header-size: 18px;
$form-size: 16px;
$text-size: 13px;

//Colors
$main-color: #fbf6e4;
$iactive-color: #e1c2f1;
$btn-color: #23ae92;
$small-link-color: #b9b9cc;
$hover-color: #e66a64;
$input-color: #bfb9cc;
